body{
  font-family: 'Montserrat';
  font-weight: 500;
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat-Bold', sans-serif;
}

p{
  color: #8f8f8f;
}


/* Headings */
.big-heading{
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
}


/* Navigation Bar */

.navbar{
  padding:0 0 4.5rem;
}

.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 1.2rem;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

/* Download Buttons */
.download-button{
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title{
  background-color: #ff4c68  ;
  color:#fff;
  text-align: left;
}

#title .container-fluid{
  padding: 3% 15% 7%;
}

.title-image{
  transform: rotate(5deg);
  right: 30%;
}

.title-paragraph{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
  padding-bottom: 10px;
  color: #fff;
}

/* About me */

#about-me{
  background-color: #fff;
  position: relative;
}

.about-me-image{
  width: 30%;
  border-radius: 100%;
  margin: 20px;
}



/* Worl */

#work{
  background-color: #fff;
  position: relative;
}

.feature-title{
  font-size: 1.5rem;
  font-weight: 700;
}

.feature-box{

  padding: 5%;
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #ff4c68;
}


/* Blog */

#blog{
  background-color: #ef8172;
  color: #fff;
}

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 700;
}

.testimonial-image{
  width: 35%;
  margin: 20px;
}

/* Footer Section */


.social-icon{
  margin: 20px 10px;
}

@media (max-width: 1028px){
  #title{
    text-align: center;

  }

  .title-image{
    position: static;
    transform: rotate(0);
    width: 70%
  }
}
